<h1>Games</h1>

<div class="table-responsive">
  <table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Genre</th>
            <th>Total touches</th>
            <th>Ball touched</th>
            <th>First time</th>

        </tr>
    </thead>
    <tbody>
      <% @games.each do |game|%>
        <tr>
          <td><%= game.id%></td>
          <td><%= game.player_name%></td>
          <td><%= game.player_age%></td>
          <td><%= game.player_genre%></td>
          <td><%= game.total_touches%></td>
          <td><%= game.ball_touched%></td>
          <td><%= game.first_time%></td>
        </tr>
      <%end%>
    </tbody>
    
  </table>
</div>
