<h1>Statistiques</h1>

<div class="table-responsive">
  <table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Genre</th>
            <th>Total</th>
            <th>Ball touché</th>
            <th>Reference</th>
            <th>Date</th>

        </tr>
    </thead>
    <tbody>
      <% @games.each do |game|%>
        <tr>
          <td><%= game.id%></td>
          <td><%= game.player_name%></td>
          <td><%= game.player_age%></td>
          <td><%= game.player_genre%></td>
          <td><%= game.total_touches%></td>
          <td><%= game.ball_touched%></td>
          <td>
              <%if(game.first_time)%>
                  OUI
              <%else%>
                  NON
              <%end%>
          </td>
          <td><%= game.created_at.strftime("%d/%m/%Y  %H:%M")%></td>

        </tr>
      <%end%>
    </tbody>

  </table>
</div>
